Day 04/Lesson 1/Task 2/Advance Calendar example .json
{
  "name": "calendar with AI Agent Demo 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        96
      ],
      "id": "32bd09b6-7950-4ad4-bd51-ba5b75f88f88",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "jashwanthboddupally@gmail.com",
          "mode": "list",
          "cachedResultName": "jashwanthboddupally@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        512,
        80
      ],
      "id": "cf5f3a6a-f281-4eff-817d-dae0f0e7e107",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QxHuKJfEPntkgjhU",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jashwanthboddupally@gmail.com",
          "mode": "list",
          "cachedResultName": "jashwanthboddupally@gmail.com"
        },
        "end": "={{ $now.plus(12, 'hour') }}",
        "additionalFields": {
          "description": "Created from n8n for demo",
          "location": "Google Meet",
          "summary": "=N8n demo Event"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        320,
        80
      ],
      "id": "3d42acef-a7f3-406e-9f99-3b42285b291a",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QxHuKJfEPntkgjhU",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Google Calendar Email Alert Assistant. Your task is to create professional, clear, and actionable email reminders for calendar events.\n\nINSTRUCTIONS:\n1. Always use a clear, professional tone\n2. Include all provided calendar details\n3. Format the email with proper structure and emojis for visual appeal\n4. Ensure the subject line is descriptive and includes the event name\n5. Add helpful reminders and call-to-actions\n6. Keep the email concise but informative\n\nINPUT VARIABLES:\n- summary: Event title/name\n- start.dateTime: Event start date and time\n- end.dateTime: Event end date and time  \n- location: Event location (if provided)\n- htmlLink: Direct link to calendar event\n\nOUTPUT FORMAT:\n- Subject line with emoji and event name\n- Professional greeting\n- Event details with clear formatting\n- Location and link information\n- Helpful reminders/actions\n- Professional closing\n\nEXAMPLE SUBJECT FORMATS:\n- \"📅 Calendar Reminder: [Event Name]\"\n- \"⏰ Upcoming Meeting: [Event Name]\"\n- \"🗓️ Don't Miss: [Event Name]\"\n\nAlways ensure the email is mobile-friendly and easy to scan quickly.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        80
      ],
      "id": "b71afe08-fa18-4891-b3c5-19e1e06ec118",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        288
      ],
      "id": "7d7b5fd6-b82c-4cdb-a767-2b1b98905f33",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uRnmfA2fByGfIwF8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jashwanthboddupally@gmail.com",
        "subject": "={{ $('Get an event').item.json.summary }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        80
      ],
      "id": "f958c3bb-b386-40f5-9ff4-014d5a8f997d",
      "name": "Send a message",
      "webhookId": "fbdb60b8-6a74-44b4-92fd-244480da16d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "wGtIaFv98JB2CURw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Create an event": [
      {
        "json": {
          "id": "a84pese51erh67jhjtuma1dig0",
          "summary": "N8n demo Event",
          "start": {
            "dateTime": "2025-09-10T17:23:31+05:30",
            "timeZone": "America/New_York"
          },
          "end": {
            "dateTime": "2025-09-11T05:23:31+05:30",
            "timeZone": "America/New_York"
          },
          "creator": {
            "email": "jashwanthboddupally@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "jashwanthboddupally@gmail.com",
            "self": true
          },
          "description": "Created from n8n for demo",
          "location": "Google Meet",
          "created": "2025-09-10T11:53:32.000Z",
          "updated": "2025-09-10T11:53:32.467Z",
          "etag": "\"3515010424935870\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=YTg0cGVzZTUxZXJoNjdqaGp0dW1hMWRpZzAgamFzaHdhbnRoYm9kZHVwYWxseUBt",
          "iCalUID": "a84pese51erh67jhjtuma1dig0@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      }
    ],
    "Get an event": [
      {
        "json": {
          "id": "a84pese51erh67jhjtuma1dig0",
          "summary": "N8n demo Event",
          "start": {
            "dateTime": "2025-09-10T17:23:31+05:30",
            "timeZone": "America/New_York"
          },
          "end": {
            "dateTime": "2025-09-11T05:23:31+05:30",
            "timeZone": "America/New_York"
          },
          "creator": {
            "email": "jashwanthboddupally@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "jashwanthboddupally@gmail.com",
            "self": true
          },
          "description": "Created from n8n for demo",
          "location": "Google Meet",
          "created": "2025-09-10T11:53:32.000Z",
          "updated": "2025-09-10T11:53:32.467Z",
          "etag": "\"3515010424935870\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=YTg0cGVzZTUxZXJoNjdqaGp0dW1hMWRpZzAgamFzaHdhbnRoYm9kZHVwYWxseUBt",
          "iCalUID": "a84pese51erh67jhjtuma1dig0@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "Here is your professional calendar email reminder:\n\n**INPUT VARIABLES:**\n*   **summary:** \"Q3 Marketing Strategy Review\"\n*   **start.dateTime:** \"2024-07-25T10:00:00-07:00\"\n*   **end.dateTime:** \"2024-07-25T11:00:00-07:00\"\n*   **location:** \"Conference Room A / Google Meet: meet.google.com/abc-defg-hij\"\n*   **htmlLink:** \"https://www.google.com/calendar/event?eid=randomcalid123\"\n\n---\n\n**Subject: ⏰ Upcoming Meeting: Q3 Marketing Strategy Review**\n\nDear Team,\n\nThis is a friendly reminder about your upcoming calendar event: **Q3 Marketing Strategy Review**.\n\n---\n\n**Event Details:**\n\n*   **🗓️ Event:** **Q3 Marketing Strategy Review**\n*   **🗓️ Date:** Thursday, July 25, 2024\n*   **⏰ Time:** 10:00 AM - 11:00 AM PDT\n*   **📍 Location:** Conference Room A / Google Meet\n    *   **In-person:** Conference Room A\n    *   **Virtual:** [meet.google.com/abc-defg-hij](meet.google.com/abc-defg-hij)\n*   **🔗 Calendar Link:** [View Event Details](https://www.google.com/calendar/event?eid=randomcalid123)\n\n---\n\n**Helpful Reminders & Actions:**\n\n*   **✅ Preparation:** Please come prepared with your team's Q3 performance highlights and proposed strategies.\n*   **📝 Agenda:** Review any pre-shared agenda or documents before the meeting.\n*   **⏰ Punctuality:** Kindly join the meeting on time so we can start promptly.\n*   **🌐 Access:** If attending virtually, please ensure your internet connection is stable and your audio/video setup is ready.\n\n---\n\nWe look forward to a productive discussion.\n\nBest regards,\n\nYour Calendar Assistant"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f370ffd4-0923-4c52-ac27-9b3b191c1add",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42d13b6d7987a10c8e2c8db41171b42d509e245ebab6f50c51434763260454f5"
  },
  "id": "Gt3HaoebSCcXG6Vj",
  "tags": []
}