Day 04/Lesson 1/Task 2/create-calendar-workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        48
      ],
      "id": "3b426494-63fd-4bbb-b429-ee875fd76511",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "2937d85f1e262c6966fbcb3e06873fe45ffb305521dc652e1465ab9c1130efbf@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "additionalFields": {
          "description": "Created from n8n for demo",
          "location": "Google Meet",
          "summary": "N8n demo Event"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -160,
        48
      ],
      "id": "1338536f-7040-4d80-99ae-b5ec6d9c459c",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oEilhi5s6ynk8LhW",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "2937d85f1e262c6966fbcb3e06873fe45ffb305521dc652e1465ab9c1130efbf@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        80,
        48
      ],
      "id": "bc64fa6d-9ff2-4750-97a0-9916cb1d1b64",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "oEilhi5s6ynk8LhW",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce10c10157d15b5f2fbc692795dabfeb448c588cac607b6a1251102b4354dcae"
  }
}
