Day 3/Lesson 2/Task 1/webhook.-demo-workflow.json
{
  "name": "Webhook Listener \u2014 Basic Age Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listen/basic",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"age\"]}}",
              "operation": "largerEqual",
              "value2": "={{18}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "If (age >= 18 ?)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "\u2705 Adult \u2014 access permitted"
            }
          ],
          "number": [
            {
              "name": "age",
              "value": "={{$json[\"age\"]}}"
            }
          ],
          "string:1": [
            {
              "name": "received_name",
              "value": "={{$json[\"name\"]}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Set (Adult)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        690,
        220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "\ud83d\udfe1 Minor \u2014 access limited"
            }
          ],
          "number": [
            {
              "name": "age",
              "value": "={{$json[\"age\"]}}"
            }
          ],
          "string:1": [
            {
              "name": "received_name",
              "value": "={{$json[\"name\"]}}"
            }
          ]
        }
      },
      "id": "4",
      "name": "Set (Minor)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        690,
        380
      ]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "responseData": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If (age >= 18 ?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (age >= 18 ?)": {
      "main": [
        [
          {
            "node": "Set (Adult)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set (Minor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (Adult)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (Minor)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}